{
  "presets": ["react", "env", "flow"],
  "plugins": ["react-hot-loader/babel", 
    "transform-class-properties",
    ["babel-plugin-transform-builtin-extend", {
      globals: ["Error", "Array"]
    }] 
  ],
}
