// color scheme inspiration:
// https://coolors.co/5c9afe-ffee6c-ffadc9-f28500-75dc94
$maize: #FFEE6C;
$cornflower-blue: #5C9AFE;
$carnation-pink: #FFADC9;
$tangerine: #F28500;
$pastel-green: #75DC94;

$lightgrey: #EEE;
$middlegrey: #555;

