@import '../../../sass/colors.scss';

#messageList {
  flex: 1;
}

#messageList {
  p.message {
    font-size: 30px;
    color: $middlegrey;
    margin: 0px;
    transition: padding-left 0.25s ease-in-out;

    &:hover {
      cursor: pointer;
      padding-left: 10px;
    }

  }

  p.selected {
    font-size: 35px;
    color: #000;
  }

  p.error, p.selected.error {
    color: #F00;
  }

  div.selected {
    padding: 10px;

    textarea {
      width: 100%;
      border: 0px;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
    }
  }
}

