@import '../../../sass/colors.scss';

#editor-container {
  height: 100px;
}

.argie-tag {
  background: $carnation-pink;
  color: #FFF;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;

  &:hover {
    cursor: pointer;
  }

  &::before {
  }
}


