@import '../../../../sass/colors.scss';

#selectedMessage {
  height: inherit;
  overflow-y: scroll;
  font-family: 'Montserrat', sans-serif;

  .field {
    .field-name {
      font-size: 12px;
      width: 100%;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    input {
      flex: 0 1;
      margin-right: 5px;
      width: inherit;
    }
  }

  input {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    width: 100%;
    &.error-control {
      border: #F00 solid;
    }

  }

  #message-button-bar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    .deleteButton {
      align-self: flex-end;
      &:hover {
        background-color: #F00;
      }
    }

  }

  .error {
    color: #F00;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }

}
