
#message-editor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;

  .message-master-detail {
    flex-direction: row;
    display: flex;
  }

  #detail {
    flex: 3
  }
}

footer {
  margin: 0px;
  background-color: #EEE;
  padding: 10px;
  flex: 0 1 40px;
}

