@import '../../../../sass/colors.scss';

$EDITOR_TEXT_SIZE: 15px;

#editor-container {
}

#editor {
  height: inherit;

  .ql-editor {
    height: inherit;
    p {
      font-size: $EDITOR_TEXT_SIZE;
    }
  }
}


#editor .argie-tag {
  background: $cornflower-blue;
  color: #FFF;
  padding: 0px 10px;
  margin: 5px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: $EDITOR_TEXT_SIZE;

  &:hover {
    cursor: pointer;
  }

  &::before {
  }

  .edit-icon {
    margin-left: 10px;
  }

  input[type='text'] {
    background: $cornflower-blue;
    color: #FFF;
    border: none;
    font-size: $EDITOR_TEXT_SIZE;
  }
}


